<div>
  <table mat-table [dataSource]="dataSource" matSort>
      
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Instance ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="az">
        <mat-header-cell *matHeaderCellDef> AZ </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.az}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="public-ip">
          <mat-header-cell *matHeaderCellDef> Public IP </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.public-ip}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="private-ips">
          <mat-header-cell *matHeaderCellDef> Private IPs </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.private-ips}} </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'id', 'type', 'state', 'az', 'public-ip', 'private-ips']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'id', 'type', 'state', 'az', 'public-ip', 'private-ips']"></mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>